body, table, footer, p {
    Background-color: white;
    text-align: center;
    color: #49596699;
}
 Body, p, footer {
     background-color: darkred;
  padding: 9px;
  text-align: center;
  border: 5px silver;
  border-style: groove;
 
 }




h1 {
    font-family: sans-serif;
 text-align: center;
}

h1 {
    background-image: url('marble.jpg');
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}


img {
 max-width: 100%;
 height: auto;
}

.footer {
 text-align: center;
 font-family: sans-serif;
 font-weight: lighter;
 
}


