body, table, footer, p {
    Background-color: white;
    text-align: center;
    color: skyblue;
}

footer, h1, h3 {
    font-family: garabond;
}

h1 {
    background-image: url('marble.jpg');
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-color: gold;
    Border: 1px auto blue;
    border-type: solid;
}

img {
    max-width: 60%;
    height: auto;
}


